[Unit]
Description=Data Listener for CLIENT
After=network.target
Requires=data-listener.socket

[Service]
User=data-listener
WorkingDirectory=/opt/data-listener/data-listener
ExecStart=/opt/data-listener/data-listener
Restart=on-failure

[Install]
WantedBy=default.target